.contentContainer{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 93vh;
}
@media only screen and (max-width: 600px){
    .contentContainer{
        flex-direction: column;
    }
} 