.top-games-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10px;
    width: 190px;
    height: 350px;
    /* background-color: blue; */
    align-items: center;   
}
/* .top-games-tumbnail{
    width: 188px;
    height: 250px;
    margin-bottom: 5px;
} */
.top-games-name{
    position: relative;
    left: -40px;
    font-size: 1rem;
    font-weight: 500;
    color:#DEDEE3;
    margin-bottom: 2px;
}
.top-games-name:hover{
    cursor: pointer;
    color: #bf94ff;
}
.top-games-view{
    position: relative;
    left: -50px;
    font-size: 0.81rem;
    color: #ADADB8;
    margin-bottom: 5px;
}
.top-games-view:hover{
    cursor: pointer;
    color: #bf94ff;
}
.top-games-category{
    display: flex;
    position: relative;
    left: -65px;
    justify-content: center;
    align-items: center;
    width: 3.34rem;
    height: 1rem;
    background-color: #323234;
    color: #ADADB8;
    font-size: 0.75rem;
    border-radius: 0.5rem;
}
.top-games-category:hover{
    cursor: pointer;
    background-color: #48484b;
}
.top-games-tumbnail {
    display: inline-block;
    margin-bottom: 5px;
    background-color: #9147ff;
  }

.top-games-tumbnail:before,
.top-games-tumbnail:after {
    display: block;
    background-color: #9147ff;
    width: 8px;
    height: 8px;
    position: absolute;
    transition: all .15s ease;
}

.top-games-tumbnail:before {
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(-45deg) scale(0);
}

.top-games-tumbnail:after {
    right: 0;
    bottom: 0;
    transform-origin: bottom right;
    transform: rotate(45deg) scale(0);
}

.picture {
    height: 250px;
    display: block;
    transform: translate(0, 0);
    transition: all .15s ease;
    z-index: 10;
}

.top-games-tumbnail:hover .picture {
    transform: translate(6px, -6px);
}

.top-games-tumbnail:hover:before {
    transform: rotate(-45deg) scale(1);
}

.top-games-tumbnail:hover:after {
    transform: rotate(45deg) scale(1);
}